<div class="container-top">
  <h1>Welcome to stupid coaching</h1>
  <p>Ask your coach anything</p>
</div>

<div class="container">
  <form action="/answer" method="GET">
    <input type="text" name="question" id="question">
    <input type="submit" value="Ask!" id="btn">
  </form>
</div>
